<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doma">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />


    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="Doma"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Atividade principal -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
            </intent-filter>

        </activity>

        <!-- Receiver para escutar mensagens SMS -->
        <receiver android:name=".SMSReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".WatchNotificationListener"
            android:exported="true"
            android:label="Wear TTS Notifier"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>



    </application>
</manifest>
